.article-content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-content {
  width: 100%;
  max-width: 798px;
  height: 900px;
  background-color: #aff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 80px;
  vertical-align: center;
}