.no-border-bottom {
  border-bottom: 0px;
}

.light-cyan-bg{
  background-color: #CBF3F0;
}
.light-orange-bg{
  background-color: #FFF6EB;
}

.icon-btn{
  padding: 0;
}

.heart-btn {
  margin-top: -1.44rem;
  margin-bottom: -1.44rem;
  z-index: 1;
}

.read-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}

.icon-white {
  color: white;
}

.card-img-no-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hearted {
  background-color: #FE5D62;
  color: white;
}

@keyframes shake {
	0% { transform: translate(0px, 0px); }
  50% { transform: translate(4px, 0px); }
  100%{ transform: translate(-4px, 0px); }
}

.shake {
	animation-name: shake;
	animation-duration: 0.4s;
}
