.article-content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article-content {
  width: 100%;
  max-width: 798px;
  height: 900px;
  background-color: #aff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
  margin: 0 80px;
  vertical-align: center;
}

.msgoogle p{
  margin: 0;
  color: #0B032D
}
.msgoogle a:hover{
  text-decoration: none;
}
.single_article_website a{
  color:#1eabf9;
}

.badge{
  font-size: 90%;
}

.badge-secondary{
  opacity: 0.5;
}

.post-main-content h2, .post-main-content h3, .post-main-content h4, .post-main-content h5{
  padding-top: 30px;
  padding-bottom: 15px;
}
.post-main-content img{
  width: 100%;
}

/* 標記功能用 */
span.highlight {
  background-color: #FFBF69;
}

#tooltip {
  background-color: #1F847A;
  color: white;
  padding: 5px;
  border-radius: 0.125rem;
}

.notDisplayed {
  display: none!important;
}