.displaynone {
  display: none;
}
.NavBar {
  position: fixed;
  z-index: 1;
  background-color: #0B032D;
  width: 100%;
}
.Block {
  width: auto;
  height: 63px;
  padding: 0px 20px 0px 30px;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  background-color: #0B032D;
  color: white;
  border-color: #0B032D;
}
.User {
  display: inline;
}
.LogoAndBurger {
  display: flex;
  align-items: center;
}
.Burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.BurgerBar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.BurgerBar::before,
.BurgerBar::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 5px;
  transition: all .5x ease-in-out;
}
.BurgerBar::before {
  transform: translateY(-10px);
}
.BurgerBar::after {
  transform: translateY(10px);
}
.Search {
  display: inline-block;
}
.Plus {
  display: inline-block;
}
.PlusBlock {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0B032D;
  width: 100%;
  height: 63px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.SearchBlock {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0B032D;
  width: 100%;
  height: 63px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}
form {
  display: inline;
}
.Avatar {
  border-radius: 50%;
}
.UserList {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 10px;
  width: auto;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 2;
  padding: 0px;
}
.UserListBlock {
  text-align: left;
  min-width: 190px;
  padding: 20px 20px 10px;
  background-color: #0B032D;
}
.AvatarList {
  border-radius: 50%;
}
.RootSideBar {
  width: 320px;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: #0B032D;
  border-right: 1px solid white;
}
.RootNavBar {
  display:flex;
  align-items: center;
  padding: 13px 20px;
  border-bottom: 1px solid white;
  height: 63px;
}
.RootSideBarClose {
  width: 24px !important;
  height: 24px;
}
.Home {
  display: flex;
  height: 65px;
  margin: 20px 20px 0px 20px;
  padding: 0px 20px;
  align-items: center;
}
.Favorite {
  display: flex;
  height: 65px;
  margin: 0px 20px;
  padding: 0px 20px;
  align-items: center;
}
.Tags {
  display: flex;
  height: 65px;
  margin: 0px 20px;
  padding: 0px 20px;
  align-items: center;
}

