<nav class="nav-bar">
  <div class="block">
    <div class="logo-and-burger">
      <div class="burger">
        <div class="burger-bar"></div>
      </div>
      <div class="logo">
        <%= link_to "首頁", articles_path %>
      </div>
    </div>
    <div class="menu">
      <div class="search"><i class="fas fa-search"></i>
        <div class="search-block displaynone">
          <div class="input-flex">     
            <form action="">
              <input type="text" placeholder="搜尋關鍵字" class="text-search">
              <input type="submit" value="搜尋" class="submit-search">
            </form>
            <button class="search-close"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="plus"><i class="fas fa-plus"></i>
        <div class="plus-block displaynone">
          <div class="input-flex">
            <form action="">
              <input type="text" placeholder="輸入網址" class="text-plus">
              <input type="submit" value="儲存" class="submit-plus">
            </form>
            <button class="plus-close"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <button class="explore"><a href="#">探索</a></button>
      <button class="success"><a href="#">成就</a></button>
      <div class="user">
          <img src="https://picsum.photos/id/50/24" alt="" class="avatar">
        <div class="user-list displaynone">
          <div class="user-list-block">
              <img src="https://picsum.photos/id/50/40" class="avatar-list">
            <div class="log-out">
              <a href="#">登出</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="root-side-bar displaynone">
  <div class="root-nav-bar">
    <svg class="root-side-bar-close fas fa-arrow-left"></svg>
  </div>
  <div class="root-body">
    <div class="home">
        <i class="fas fa-home"></i>我的清單
    </div>
    <div class="favorite">
        <i class="fas fa-star"></i>我的最愛
    </div>
    <div class="tags">
        <i class="fas fa-tag"></i>標籤
    </div>
  </div>
</div>