<nav class="NavBar">
  <div class="Block">
    <div class="LogoAndBurger">
      <div class="Burger">
        <div class="BurgerBar"></div>
      </div>
      <div class="Logo">
        <a href="#"><img src="https://picsum.photos/id/50/24" alt=""></a>
      </div>
    </div>
    <div class="menu">
      <div class="Search"><i class="fas fa-search"></i>
        <div class="SearchBlock displaynone">
          <div class="InputFlex">     
            <form action="">
              <input type="text" placeholder="搜尋關鍵字" class="TextSearch">
              <input type="submit" value="搜尋" class="SubmitSearch">
            </form>
              <button class="SearchClose"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <div class="Plus"><i class="fas fa-plus"></i>
        <div class="PlusBlock displaynone">
          <div class="InputFlex">
            <form action="">
              <input type="text" placeholder="輸入網址" class="TextPlus">
              <input type="submit" value="儲存" class="SubmitPlus">
            </form>
              <button class="PlusClose"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <button class="Explore"><a href="#">探索</a></button>
      <button class="Success"><a href="#">成就</a></button>
      <div class="User">
        <img src="https://picsum.photos/id/50/24" alt="" style="border-radius: 50%;">
      </div>
    </div>
  </div>
</nav>