<div class="side-bar">
  <div class="side-bar-block">
    <div class="side-bar-flex">
      <div class="root-home">
        <%= link_to articles_path do %>
          <i class="fas fa-home"></i>我的清單
        <% end %>
      </div>
      <div class="root-favorite">
        <%= link_to favorites_articles_path do %>
          <i class="fas fa-star"></i>我的最愛
        <% end %>
      </div>
      <div class="tags">
        <a href="#">
          <i class="fas fa-tag"></i>標籤
        </a>
      </div>
      <div class="open-list">
        <a href="#">
          <i class="fas fa-list"></i>公開清單
        </a>
      </div>
    </div>
  </div>
</div>
