<footer class="footer navbar-fixed-bottom">
  <div class="container">  
    <span class="footer-txt"> © 2020 Copyright: <a href="https://github.com/Astro-Pocket/FiveDimensionPocket"> 5D Pocket</a> </span>
  </div>
 
</footer>