<head>
  <style>
    footer {
      width: 100%;
      background-color: #aaa;
      text-align: center;
    }
  </style>
</head>

<body>
  <footer>
    <div>
      <p>
        © 2020 Copyright:
        <a href="https://github.com/Astro-Pocket/FiveDimensionPocket"> 5D Pocket</a>
    </div>
    </p>
  </footer>
</body>