<footer class="mb-2">
  <div class="text-center">  
    <span class="footer-txt"> © 2020 Copyright: <a href="https://github.com/Astro-Pocket/FiveDimensionPocket"> 5D Pocket</a> </span>
  </div>
</div>
</footer>