<footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span> © 2020 Copyright:  <a href="https://github.com/Astro-Pocket/FiveDimensionPocket"> 5D Pocket</a> </span>
  </div>
</div>
</footer>