<nav data-controller="tag">
  <ul>
    <li>
      <button id="my-tags" data-action="tag#showTag" data-target="tag.myTags">我的標籤 </button>
      
    </li>
    <ul>
      <% @user_tags.each do |tag| %>
      <a href="/tags/<%= tag.id %>"><li> <%= tag.name %> (<%= tag.counter %>)</li></a>
      <% end %> 

    </ul>
  </ul>
</nav>