<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between w-100">
      <div class="col-2 w-100 h-100">
        <a class="navbar-brand" href="#">
          <img src="https://picsum.photos/id/684/80/40" alt="" class="w-100 h-100">
        </a>
      </div>
      <div class="col-6 d-flex flex-nowrap">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 text-nowrap" type="submit">送出</button>
      </div>
      <div class="col-3 d-flex justify-content-between flex-nowrap align-items-center">
        <div class="btn-group btn-group-toggle text-nowrap" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> 新增
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> 搜尋
          </label>
        </div>
        <ul class="d-flex list-unstyled align-text-bottom align-items-center mb-0 text-nowrap">
          <li><a href="">探索</a></li>

          <li><a href="">成就</a></li>
        </ul>
      </div>
      <div class="col-1">
        <a class="h3" href="#"><i class="fas fa-user"></i></a>
      </div>
    </div>
  </div>

</nav>