<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .nav {
      position: relative;
      width: 100%;
      height: 60px;
      background-color: #aaa;
      display: flex;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
    }
    
    .burger {
      height: 50px;
      width: 50px;
      background-color: #ddd;
      display: block;
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .burger-bar {
      width: 30px;
      height: 4px;
      background: #666;
      border-radius: 4px;
    }
    
    .spacer {
      flex: 1;
    }
    
    .nav-btn {
      border-radius: 4px;
      padding: 1px;
      box-sizing: border-box;
      margin-right: 8px;
    }
    
    .nav-link {
      border: solid 1px red;
      border-radius: 5px;
      padding: 1px;
      box-sizing: border-box;
      margin-right: 8px;
    }
    
    .nav-search,
    .nav-add {
      position: absolute;
      left: 0;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: #aaa;
    }
    
    .nav-logo a img {
      display: block;
      border-radius: 4px;
    }
    
    .aside {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      height: 100%;
      background-color: #afa;
      overflow: scroll;
    }
    
    .aside-behide {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: rgba(0, 0, 0, .5)
    }
    
    .user {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
    .user-info {
      display: flex;
    }
    
    .user-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
    
    .user-bar {
      position: absolute;
      top: 20px;
      right: 0;
      width: 120px;
      height: 300px;
      background-color: rgba(0, 0, 0, .5);
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
    }
    
    @media (min-width: 768px) {
      .nav {
        background-color: #aaa;
        padding: 0 78px;
      }
      .burger,
      .aside-behide {
        display: none;
      }
    }
  </style>
</head>

<body>
  <nav id="nav" class="nav">
    <div class="burger" @click="showAside = !showAside">
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
      <div class="burger-bar"></div>
    </div>
    <div v-if="showAside" class="aside-behide" @click="showAside = !showAside">
      <div class="aside" @click.stop>
        <a href="#">我的最愛</a>
        <a href="#">我的清單</a>
        <a href="#">標籤</a>
        <a href="#">已公開清單</a>
      </div>
    </div>

    <div class="nav-logo">
      <a href="#"><img src="https://picsum.photos/id/684/100/50" alt=""></a>
    </div>
    <div class="spacer"></div>
    <button class="nav-btn p-1 mr-3" @click="showSearchBar = true">新增</button>
    <div v-if="showSearchBar" class="nav-add">
      <input type="text" placeholder="新增">
      <button class="nav-btn submit-btn">送出</button>
      <button class="nav-btn close-btn" @click="showSearchBar = false">X</button>
    </div>
    <button class="nav-btn" @click="showSearchBar = true">搜尋</button>
    <div v-if="showSearchBar" class="nav-search">
      <input type="text" placeholder="搜尋">
      <button class="nav-btn submit-btn">送出</button>
      <button class="nav-btn close-btn" @click="showSearchBar = false">X</button>
    </div>
    <a class="nav-link" href="#">探索</a>
    <a class="nav-link" href="#">成就</a>
    <div class="user" @click="showUserBar = !showUserBar">
      <a class="user-btn" href="#" @click.prevent><i class="fas fa-user"></i></a>
      <div v-if="showUserBar" class="user-bar" @click.stop>
        <div class="user-info">
          <div class="user-img"><img src="https://picsum.photos/id/684/40/40" alt=""></div>
          <div class="user-name">
            Name
            <br>
            <a href="#">Profile</a>
          </div>
        </div>
        <hr>
        <div><a href="#">登出</a></div>
      </div>
    </div>

  </nav>
  <script>
    var navbar = new Vue({
      el: '#nav',
      data: {
        msg: 'hello vue',
        showSearchBar: false,
        showAside: false,
        showUserBar: false
      }
    })
  </script>
</body>