<head>
  <style>
    /* body { */
    /* background-color: rgb(26, 26, 26); */
    /* } */
    
    .nav-behide-space {
      height: 60px;
      width: 100%;
    }
    
    .nav {
      position: relative;
      width: 100%;
      height: 60px;
      background-color: rgb(26, 26, 26);
      display: flex;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
      border-bottom: solid 1px rgb(0, 0, 0);
      position: fixed;
      top: 0;
    }
    
    .burger {
      display: block;
      margin-right: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 4px;
      cursor: pointer;
      font-size: 24px;
      color: rgb(189, 189, 189);
    }
    
    .burger:hover {
      color: rgb(224, 224, 224);
    }
    
    .nav-logo-icon {
      margin: 0 8px;
      font-size: 24px;
      color: rgb(255, 100, 100);
    }
    
    .nav-logo-icon:hover {
      color: rgb(255, 80, 80);
    }
    
    .spacer {
      flex: 1;
    }
    
    .nav-btn {
      border-radius: 4px;
      padding: 1px;
      box-sizing: border-box;
      margin-right: 8px;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0);
      color: rgb(189, 189, 189);
      border: 0;
      font-size: 24px;
      outline: none;
    }
    
    .nav-btn:hover {
      color: rgb(224, 224, 224);
      cursor: pointer;
    }
    
    .submit-btn {
      box-sizing: border-box;
      border: solid 1px rgb(189, 189, 189);
      padding: 2px;
      margin: 0 8px;
    }
    
    input {
      width: 60%;
    }
    
    .nav-link {
      box-sizing: border-box;
      border: solid 1px rgb(189, 189, 189);
      border-radius: 4px;
      padding: 2px 4px;
      margin-right: 8px;
      white-space: nowrap;
      color: rgb(189, 189, 189);
    }
    
    .nav-link:hover {
      border: solid 1px rgb(224, 224, 224);
      color: rgb(224, 224, 224);
    }
    
    .nav-search,
    .nav-add {
      position: absolute;
      left: 0;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: rgba(1, 1, 1, .9);
    }
    
    .aside {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 50px;
      min-width: 320px;
      height: 100%;
      background-color: rgb(26, 26, 26);
      overflow: scroll;
      box-sizing: border-box;
      border-right: solid 1px rgb(242, 242, 242);
    }
    
    .aside-behide {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: rgba(0, 0, 0, .5)
    }
    
    .aside-link {
      color: rgb(130, 130, 130);
      font-size: 30px;
      margin: 10px;
    }
    
    .aside-link:hover {
      color: rgb(224, 224, 224);
    }
    
    .user {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    
    .user-link {
      width: 24px;
      height: 24px;
      overflow: hidden;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    
    .user-link-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    
    .user-info {
      display: flex;
    }
    
    .user-img-wrap {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
    
    .user-img {
      width: 100%;
      height: 100%;
    }
    
    .user-name {
      color: rgb(224, 224, 224);
      padding-left: 8px;
      display: flex;
      flex-direction: column;
    }
    
    .user-profile-link {
      color: rgb(224, 224, 224);
    }
    
    .user-profile-link:hover {
      color: rgb(0, 122, 115);
    }
    
    .user-bar {
      position: absolute;
      top: 100%;
      right: 0;
      height: 300px;
      background-color: rgba(26, 26, 26);
      box-sizing: border-box;
      padding: 20px 20px 10px;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 10px;
    }
    
    .user-bar-bottom {
      text-align: center;
    }
    
    .sign-out {
      color: rgb(189, 189, 189);
    }
    
    .sign-out:hover {
      color: rgb(224, 224, 224);
    }
    
    @media (min-width: 768px) {
      .nav {
        padding: 0 78px;
      }
      .burger,
      .aside-behide {
        display: none;
      }
    }
  </style>
</head>

<body>
  <div class="nav-behide-space"></div>
  <nav id="nav" class="nav">
    <div class="burger" @click="showAside = !showAside">
      <i class="fas fa-bars"></i>
    </div>
    <div v-if="showAside" class="aside-behide" @click="showAside = !showAside">
      <div class="aside" @click.stop>
        <a class="aside-link" href="#"><i class="fas fa-heart"></i> 我的最愛</a>
        <a class="aside-link" href="#"><i class="fas fa-list-ul"></i> 我的清單</a>
        <a class="aside-link" href="#"><i class="fas fa-tags"></i> 標籤</a>
        <a class="aside-link" href="#"><i class="fas fa-book-open"></i> 已公開清單</a>
      </div>
    </div>

    <div class="nav-logo">
      <a class="nav-logo-icon" href="#"><i class="fas fa-envelope-open"></i></a>
    </div>
    <div class="spacer"></div>
    <button class="nav-btn" @click="showAddBar = true"><i class="fas fa-plus"></i></button>
    <div v-if="showAddBar" class="nav-add">
      <input type="text" placeholder="新增連結 url https://...">
      <button class="nav-btn submit-btn">送出</button>
      <button class="nav-btn close-btn" @click="showAddBar = false"><i class="fas fa-times"></i></button>
    </div>
    <button class="nav-btn" @click="showSearchBar = true"><i class="fas fa-search"></i></button>
    <div v-if="showSearchBar" class="nav-search">
      <input type="text" placeholder="請輸入搜尋文字">
      <button class="nav-btn submit-btn">送出</button>
      <button class="nav-btn close-btn" @click="showSearchBar = false"><i class="fas fa-times"></i></button>
    </div>
    <a class="nav-link" href="/">探索</a>
    <a class="nav-link" href="/">成就</a>
    <div class="user" @click="showUserBar = !showUserBar">
      <a class="user-link" href="/" @click.prevent>
        <img class="user-link-img" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/p100x100/89671147_3206839525997500_2975540509306519552_n.jpg?_nc_cat=103&_nc_sid=7206a8&_nc_ohc=mU5GWcqYW7MAX8y9hzg&_nc_ht=scontent.ftpe8-2.fna&_nc_tp=6&oh=e28ba48c1e244d50c86e711a742ec20e&oe=5ED2F505"
          alt="">
      </a>
      <div v-if="showUserBar" class="user-bar" @click.stop>
        <div class="user-info">
          <div class="user-img-wrap"><img class="user-img" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/p100x100/89671147_3206839525997500_2975540509306519552_n.jpg?_nc_cat=103&_nc_sid=7206a8&_nc_ohc=mU5GWcqYW7MAX8y9hzg&_nc_ht=scontent.ftpe8-2.fna&_nc_tp=6&oh=e28ba48c1e244d50c86e711a742ec20e&oe=5ED2F505"
              alt=""></div>
          <div class="user-name">
            <span>Name</span>
            <a class="user-profile-link" href="/">Profile</a>
          </div>
        </div>
        <hr>
        <div class="user-bar-bottom"><a class="sign-out" href="/">登出</a></div>
      </div>
    </div>

  </nav>
  <script>
    var navbar = new Vue({
      el: '#nav',
      data: {
        msg: 'hello vue',
        showSearchBar: false,
        showAddBar: false,
        showAside: false,
        showUserBar: false
      }
    })
  </script>
</body>