<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-none d-sm-block" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to articles_path, class: 'sidebar-brand d-flex align-items-center justify-content-center' do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fab fa-get-pocket"></i>
    </div>
    <div class="sidebar-brand-text mx-3">5D Pocket</div>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <%= link_to articles_path, class: "nav-link" do %>
    <i class="fas fa-fw fa-home"></i>
    <span>我的清單</span>
    <% end %>
  </li>

  <!-- Heading -->
  <div class="sidebar-heading">
    篩選條件
  </div>
  
  <!-- Nav Item - 我的最愛 -->
  <li class="nav-item">
    <%= link_to favorites_articles_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-heart"></i>
      <span>我的最愛</span>
    <% end %>
  </li>

  <!-- Nav Item - 我的標籤 -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-tag"></i>
      <span>我的標籤</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= render "/shared/articles/tags_menu" %>
      </div>
    </div>
  </li>

  <!-- Nav Item - 公開清單 -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-unlock-alt"></i>
      <span>公開清單</span></a>
  </li>

</ul>

