<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fab fa-get-pocket"></i>
    </div>
    <div class="sidebar-brand-text mx-3">5D Pocket</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <%= link_to articles_path, class: "nav-link" do %>
    <i class="fas fa-home"></i>
    <span>我的清單</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to favorites_articles_path, class: "nav-link" do %>
    <i class="fas fa-star"></i>
    <span>我的最愛</span>
    <% end %>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>我的標籤</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <%= render "/shared/articles/tags_menu" %>
      </div>
    </div>
  </li>

</ul>
<!-- End of Sidebar -->