<div class="content">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-12" data-controller="chart">
          <div class="card border-warning mt-3">
            <div class="card-header text-white bg-warning">
              標籤統計
            </div>
            <div class="card-body">
              <div class="chart-card">
                <canvas id="tagChart" width="800" height="400"></canvas>
              </div>
            </div>
          </div>
          <div class="card border-warning mt-3 mb-5">
            <div class="card-header text-white bg-warning">
              本週已讀統計
            </div>
            <div class="card-body">
              <div class="chart-card">
                <canvas id="readChart" width="800" height="400"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>