<div class="container col-12 mt-5 pt-5">
  <div class="row justify-content-between py-4">
    <h1 class="h3 mb-1 text-gray-800">我的成就</h1>
    <div class="col-12" data-controller="chart">
      <div class="card border-0 border-left-warning shadow mt-3">
        <div class="card-header light-orange-bg no-border-bottom">
          近14天已讀統計
        </div>
        <div class="card-body">
          <div class="chart-card">
            <canvas id="readChart" width="800" height="400"></canvas>
          </div>
        </div>
      </div>
      <div class="card border-0 border-left-warning shadow  mt-3 mb-5">
        <div class="card-header light-orange-bg no-border-bottom">
          標籤統計
        </div>
        <div class="card-body">
          <div class="chart-card">
            <canvas id="tagChart" width="800" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>