<head>
  <style>
    .wrap {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .content {
      width: 100%;
      max-width: 798px;
      height: 900px;
      background-color: #aff;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding: 40px;
      margin: 0 80px;
    }

  </style>
</head>

<body>
  <div class="wrap">
    <div class="content">
      <div class="spacer"></div>
      <p class="paragraph">123</p>
    </div>
  </div>
  <script></script>
</body>