<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark">探索</button>
        <button type="button" class="btn btn-dark disabled">追蹤中</button>
      </div>
    </div>
  </div>
  <div class="UserBlock">
    <div class="container">
      <div class="row">
        <img src="https://picsum.photos/id/40/50" alt="" class="rounded-circle">
        <a href="#">胖胖</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="card col-12 col-md-4">
          <img src="https://picsum.photos/id/50/200" class="card-img-top" alt="">
          <div class="card-body">
            <a href="#" target="_blank" class="card-text">連結名字</a>
            <a href="#" target="_blank"><h5 class="card-title">文章標題</h5></a>
            <p class="card-text">description</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>