<div class="container switch">
  <div class="row">
    <label class="rocker rocker-small">
      <input type="checkbox">
      <span class="switch-left">追蹤</span>
      <span class="switch-right">探索</span>
    </label>
  </div>
</div> 
<div class="follower-block">
  <div class="container">
    <div class="row">
        <img src="https://picsum.photos/id/40/50" alt="" class="rounded-circle">
      <div class="username">
        <a href="#">胖胖</a>
      </div>
    </div> 
    <div class="follower-block">
      <div class="container">
        <div class="row">
            <img src="https://picsum.photos/id/40/50" alt="" class="rounded-circle">
          <div class="user-name">
            <a href="#">胖胖</a>
          </div>
        </div>
        <div class="bottom-line"></div>
      </div>
      <div class="card col-12 col-md-4">
        <a href="#">
          <img src="https://picsum.photos/id/10/212/136" class="card-img-top" alt="">
        </a>
        <div class="card-body">
          <a href="#">
            <div>
              <h5 class="card-title">文章標題</h5>
            </div>
          </a>
          <a href="#" target="_blank" class="card-text">連結名字</a>
          <p class="card-text">description</p>
          <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
        </div>
        <div class="bottom-line"></div>
      </div>
      <div class="card col-12 col-md-4">
        <a href="#">
          <img src="https://picsum.photos/id/10/212/136" class="card-img-top" alt="">
        </a>
        <div class="card-body">
          <a href="#">
            <div>
              <h5 class="card-title">文章標題</h5>
            </div>
          </a>
          <a href="#" target="_blank" class="card-text">連結名字</a>
          <p class="card-text">description</p>
          <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
        </div>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
</div>