<body>
  <%= render "shared/articles/header"%>
  <%= render "shared/articles/sidebar"%>
  <div class="Content">
    <div class="container">
      <div class="row">
        <label class="rocker rocker-small">
          <input type="checkbox">
          <span class="switch-left">追蹤</span>
          <span class="switch-right">探索</span>
        </label>
      </div>
    </div>
    <div class="ExploreBlock">
      <div class="container">
        <div class="row">
            <img src="https://picsum.photos/id/25/50" alt="" class="rounded-circle">
          <div class="UserName">
            <a href="#">林小明</a>
          </div>
            <button class="btn btn-outline-primary">follow</button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card col-12 col-md-4">
            <a href="#">
              <img src="https://picsum.photos/id/101/212/136" class="card-img-top" alt="">
            </a>
            <div class="card-body">
              <a href="#">
                <div>
                  <h5 class="card-title">文章標題</h5>
                </div>
              </a>
              <a href="#" target="_blank" class="card-text">連結名字</a>
              <p class="card-text">description</p>
              <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
            </div>
            <div class="BottomLine"></div>
          </div>
          <div class="card col-12 col-md-4">
            <a href="#">
              <img src="https://picsum.photos/id/101/212/136" class="card-img-top" alt="">
            </a>
            <div class="card-body">
              <a href="#">
                <div>
                  <h5 class="card-title">文章標題</h5>
                </div>
              </a>
              <a href="#" target="_blank" class="card-text">連結名字</a>
              <p class="card-text">description</p>
              <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
            </div>
            <div class="BottomLine"></div>
          </div>
          <div class="card col-12 col-md-4">
            <a href="#">
              <img src="https://picsum.photos/id/101/212/136" class="card-img-top" alt="">
            </a>
            <div class="card-body">
              <a href="#">
                <div>
                  <h5 class="card-title">文章標題</h5>
                </div>
              </a>
              <a href="#" target="_blank" class="card-text">連結名字</a>
              <p class="card-text">description</p>
              <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
            </div>
            <div class="BottomLine"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>